body {
	background-color: rgb(246, 230, 232);
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	border: 5px solid black;
	width: 500px;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	background-color: bisque;
	margin-top: 30px;
	/* margin-top: 30%; */
	box-shadow: 0 50px 100px rgba(0, 0, 0, 0.5);
	transition: all 0.3s ease;
}
.image {
	text-align: center;
	margin-top: 0;
	height: 200px;
	text-align: center;
	background-image: linear-gradient(135deg, #f5e6d3, #e8d3b9, #d6c1a5);
	border: 2px solid;
	border-radius: 10px;

	justify-content: center; /* horizontal center */
	align-items: center; /* vertical center */
}
.image h1 {
	padding-top: 50px;
}
header p {
	font-size: 20px;
	margin-top: 0px;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

header h1 {
	margin-bottom: 2px;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.contact {
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 10px;
	color: white;
	font-size: 20px;
	border-radius: 10px;

	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#email {
	background-color: grey;
}

#linkedin {
	background-color: rgb(67, 190, 243);
}

#email a {
	text-decoration: none;
	color: white;
}

#linkedin a {
	text-decoration: none;
	color: white;
}

h2 {
	margin-bottom: 5px;
}

main h2 {
	text-align: left;
}

main p {
	text-align: justify;
	font-size: 20px;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#coffee {
	border: 2px solid black;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 20px;
	color: rgb(10, 10, 10);
	font-size: 20px;
	border-radius: 10px;
	background-color: antiquewhite;
	font-family: "Dancing Script", cursive;
}

main iframe {
	width: 100%;
	margin-top: 20px;
	border-radius: 20px;
	margin-bottom: 20px;
}

.socialmedia img {
	width: 40px;
	height: 40px;
	margin-left: 10px;
	margin-right: 10px;
}
